html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	background-color: LightGray; 
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em; 
	-webkit-font-smoothing: antialiased;
}

.top-navigation{
	background-color: #fff; 
	position: fixed;
	width: 100%;
	z-index: 9999; 
}
.top-navigation > .content{
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.top-navigation .links > li{
	display: inline-block;
	margin: 1em; 
	transition: color 0.1s ease; 
	cursor: pointer;
}
.top-navigation.links > li:hover{
	color: black;
}
.links{
	margin: -3em 10em; 	
}
.top-navigation .links > .active{
	color: #4c5058;
	font-weight: 500; 
}
.logo{
	margin: 1em; 
	padding: 0px 5px;
	width: 2em;
}
.introduction{
	background-image: url("../image/background image.jpg");
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem; 
}
.introduction .content{
	color: #fff; 
	padding: 20em;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif; 
	font-size: 20px; 
	margin: 0 auto;
	text-align: center;
 
}
button{
	text-shadow: none;
	border-style: none; 
	border-radius: 4px; 
	display: block;
	margin: 0 auto; 
	padding: 1rem 1.5rem;
	width: 10em; 
	background-color:#d8400e;
	font-size: 
	color: #fff;
	cursor: pointer;
}
button:hover{
	background-color: #f15a29; 
}
section{
	display: block;
}
.cases{
	background-color: #fff; 
	padding-bottom: 5rem; 
	overflow: hidden;
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.2em; 
}
.content h2{
	margin: 2.5em auto 1.5em;
	font-size: 2.3em; 
	color: black; 
	font-weight: 300;
}
.content .caption h3{
	font-size: 1.3em; 
	color: #000; 
	font-weight: 400;
	width: 10.5em; 	
}
.cases .content li{
	display: inline-block;
	text-align: center;
	padding: 1em;
	font-weight: 400; 
	width: 14em; 
	box-sizing: border-box;
	height: 4em
}
footer > .content{
	padding: 0 0.938rem; 
	margin: 0 auto; 
	min-width: 37.5rem; 
	background-color: white; 
	overflow: auto;
	text-align: center;
	padding-bottom: 9.375rem; 
}
.icon li {
	border-radius: 1.25rem;
	width: 2.5rem; 
	height: 2.5rem; 
	display: inline-block;
	margin: -0.3em 5px; 
	border: 1px solid #eaebec;
	padding: 0.625rem 0; 
}
li.twitter{
	color: #55acee; 
}
li.facebook{
	color: #4c66a4; 
}
li.instagram{
	color: #3f729b;
}
hr{
	border: 0; 
	border-top: 1px solid #eaebec; 
	margin: 1.313rem 0; 
}
footer h5{
	font-weight: 400; 
	font-size: 1em;
	color: #000; 
	margin-left: 3em; 
}
span.copy{
	font-size: 0.9em; 
	letter-spacing: 0.02em; 
	margin-left: 3em; 
}
.transition{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}